body {
    background-color: rgb(141, 141, 248);
}
    /* Значек > указывает применение стиля только к 1=му дочернему элементу  */
div#container > ul {
    border: 1px solid black;
}
/* Селектор по атрибуту [] */
[title] {
    color: rgb(159, 88, 140);
}
/* В данном случае специфичность повышает приоритет селлектора */
div.text[title] {
    color: rgb(51, 237, 254);
}
/* Селекторы можно указывать через запятую для придания одинаковых свойств, (div, ul), также они могут быть составными / Разные варианты / Атрибуты можно придумывать самим data- */
a[href="img"] {
    color: red;
}
a[href*="img"] {
    color: red;
}
a[href^="http"] {
    color: rgb(205, 235, 53);
}
a[href$="logo"] {
    color: rgb(113, 120, 79);
}
a[href$=".jpg"], 
a[href$=".png"], 
a[href$=".gif"], 
a[href$=".jpeg"] {
    color: rgb(113, 120, 79);
}
/* a[data-filetype="image"] {
    color: bisque;
} */
/* Выделяет цветом текст отмеченный галочкой. но к радиокнопкам это не применяется */
/* input:checked + span {
    color: red;
} */
input[type="checkbox"]:checked + span {
    color: red;
}
/* Селектор отрицания позволяет выбрать элементы кроме определенного */
li:not(.text1) {
    color: rgb(33, 1, 216);
    list-style: square;
}
/* Селекторы отдельных элементов, первый, последний, четные, нечетные */
/* Выбор по порядковому номеру элемента в списке nth-child, обращение ко всем нечетным элементам odd, и к четным even */
/* li:nth-child(5) {
    color: rgb(117, 2, 224);
    font-weight: bold;
} */
/* li:nth-child(odd) {
    color: rgb(117, 2, 224);
    font-weight: bold;
} */
/* li:nth-child(even) {
    color: rgb(117, 2, 224);
    font-weight: bold;
} */
/* Расчет идет с конца */
li:nth-last-child(3) {
    color: rgb(117, 2, 224);
    font-weight: bold;
}
/* Первый элемент */
li:first-child {
    color: rgb(117, 2, 224);
    font-weight: bold;
}
Последний элемент
li:Last-child {
    color: rgb(117, 2, 224);
    font-weight: bold;
}
/* И много других возможностей - first-of-type, only-of-type, only-child... */
/* Картинка на фон css. Без текста не устанавливается у меня и высота, ширина не меняются!!!? Чтобы картинка не повторялась с увеличением текста no-repeat, и другие разные свойства Ctrl+пробел. 2.42 */
.img {
    background-image: url(../img/image1.png);
    width: 700;
    background-repeat: no-repeat;
}
/* Границы border на css. Ctrl+пробел - для поиска значений. MDN - документация css */


/* div p {
    background-color: hsla(271, 76%, 53%, 0.5);
    color: aqua;
    border: 2px solid aqua;
    border-radius: 5px;
} */

div p:nth-child(1) {
    border: dashed aqua 2px;
    border-radius: 0;
    width: 100;
    font-family: sans-serif;
    font-size: 18px;
}
div p:nth-child(2) {
    border: dashed greenyellow;
    border-radius: 70%;
    width: 500px;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
}
/* Для того чтобы текст расположить внутри фигуры. Почему не выходит овал !!!???  */
div p:nth-child(3) {
    background-color: rgba(234, 152, 221, 0.684);
    color: blueviolet;
    border: dotted #fdcaca 3px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    text-decoration: overline;
    text-transform: capitalize;
    padding: 20px;
}

/* Triangle generator. Генератор треугольников - есть разные сайты CSS Generators. Можно вставить картинку треугольника, но лучше создать его в css, так как картинка имеет вес и будет загружаться, а css отрисовывается браузером без дополнительных нагрузок */
div p:nth-child(4) {
width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 150px 100px;
border-color: transparent transparent rgba(255, 234, 0, 0.715) transparent;
display: flex;
justify-content: center;
align-items: center;
letter-spacing: 10px;
}
/* Градиентный фон, скругления фигур также есть в генераторе */
div p:nth-child(5) {
    width: 150px;
    height: 150px;
    background: rgb(133, 250, 94);
    background: linear-gradient(165deg, rgb(215, 83, 83) 30%, #84e949 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
/* Размеры элементов через инструмент разработчика. Пиксели на разных экранах разные */
div p:nth-child(6) {
    width: 150px;
    height: 50px;
    background-color: rgb(53, 103, 242);
    border: 3px solid blue;
}
/* Шрифт, размер и толщина */
/* {
font-family: sant-serif;
font-family: 'Times New Roman', Times, serif;
font-size: 18px; - размер;
font-weight: bold; - жирный шрифт;
font-weight: 700; - жирный шрифт;
font-style: italic; - курсивное начертание;
line-height: 150%; или line-height: 1.5; - межстрочный интервал 1.5 - универсальный;
} */
/* Межбуквенный интервал, выравнивание, трансформация, декорация, маркер списка */
/* letter-spacing: 10px; межбуквенный интервал
text-align: center; выравнивание текста по центру
/ justufy / left / right
text-decoration: overline; - подчеркивание
text-transform: uppercase; все символы заглавные
text-transform: capitalize; каждое слово с заглавной буквы
list-style: square; изменение вида маркировки */
/* Отступы margin, margin: 40px 40px 40px 40px; - в таком виде по часовой стрелке
margin-top: ; отступ сверху
    margin-bottom: ; снизу
    margin-left: ;
    margin-right: ;
    margin: 0 auto; - выравнивание по центру относительно своего родителя
 */
.box1 {
    width: 150px;
    height: 150px;
    color: #fff;
    background: #fdcaca;
    margin: 20px;
}
.box2 {
    width: 150px;
    height: 150px;
    color: #fff;
    background: #f66666;
    margin: 20px 30px 40px 50px;
}
.box3 {
    width: 150px;
    height: 150px;
    color: #fff;
    background: #fb9393;
    margin: 0 auto;
}
.box4{
    width: 150px;
    height: 150px;
    color: #fff;
    background: #b2fc94;
    margin: 50px auto;
}
/* Поля padding(англ.прокладка. поля внутри элемента) и изменение размера элемента.
Также может иметь от одного до 4 значений как и margin. Padding, border увеличиваеют размер элемента по умолчанию */
.box5 {
    width: 150px;
    height: 150px;
    color: #fff;
    background: #f9d47f;
    padding: 20px 40px 10px 30px;
    border: 5px solid #f89b22;
}
/* Блочная модель box-sizing border-box - помогает создавать границу без изменения размера элементов w h */
.box6 {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    color: #fff;
    background: #f9d47f;
    padding: 20px 40px 10px 30px;
    border: 5px solid #f89b22;
    margin: auto;
}
.box7 {
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    color: #fff;
    background: #f9d47f;
    padding: 20px 40px 10px 30px;
    border: 5px solid #f89b22;
    margin: 10px;
}
/* Но эти методы не удобны и есть конструкция которая позволяет установить border-box для всех элементов сразу. Она устанавливается в начале страницы и применяется ко всем тэгам - самый оптимальный вариант

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
} */
/* Псевдоэлементы before и after 
pointer - указатель - рука, move .. и много других вариантов курсора. Можно устанавливать символы или пометку до или посте элемента */
button {
    cursor: pointer;
}
div.new1::after {
    content: ' new 1';
    color: #f9d47f;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: gray;
}
div.new2::before {
    content: ' new 2';
    color: #f9d47f;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
}
div.new3::before {
    content: '\00A9';
    color: #f9d47f;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
}
/* Таблица символов для CSS - https://www.schoolsw3.com/cssref/css_entities.php - можно взять код символа и добавить его в ::content с помощью \  */

/* CSS Flexbox / Урок по CSS Flexbox И. Усманова
Flex контейнер и flex wrap. Для свойства display по умолчанию используется block, и другие часто используемые значения flax или grid. Благодаря wrap элементы не вмещающиеся в строку перескакивают на новую */

.parent {
    display: flex;
    flex-wrap: wrap;
}

.parent > div {
    width: 150px;
    background-color: rgb(97, 5, 255);
    margin: 5px;
    padding: 10px;
}
div.elem3 {
    display: block;
    width: 150px;
    background-color: rgb(97, 5, 255);
    margin: 5px;
    padding: 10px;
}